{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock extra_css %}
{% block content %}
    <div class="auth-wrapper">
        <div class="auth-container fade-in">
            <h1>✅ Password alterada</h1>
            <p class="info-text">A sua password foi alterada com sucesso.</p>
            <div class="info-text">
                <p>
                    <a href="{% url 'login' %}" class="forgot-link">Voltar ao login</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
