{% extends "base.html" %}
{% block content %}
    <style>
        main .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <div class="auth-wrapper">
        <div class="auth-container fade-in">
            <h1>🔒 Nova Password</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Nova Password</label>
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    <label>Confirmar Password</label>
                    {{ form.new_password2 }}
                </div>
                <button type="submit" class="submit-btn">Alterar Password</button>
            </form>
        </div>
    </div>
{% endblock content %}
