{% extends "base.html" %}
{% block content %}
    <style>
        main .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <div class="auth-wrapper">
        <div class="auth-container fade-in">
            <h1>📧 Email enviado</h1>
            <p class="info-text">Verifique o seu email para continuar a recuperação da password.</p>
            <div class="info-text">
                <p>
                    <a href="{% url 'login' %}" class="forgot-link">Voltar ao login</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
