{% extends "base.html" %}
{% block content %}
    <style>
        main .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
    <div class="auth-wrapper">
        <div class="auth-container fade-in">
            <h1>🔑 Recuperar Password</h1>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Email</label>
                    {{ form.email }}
                </div>
                <button type="submit" class="submit-btn">Enviar Email</button>
            </form>
            <div class="info-text">
                <p>
                    <a href="{% url 'login' %}" class="forgot-link">Voltar ao login</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
